.cannon {
    width:400px;
    position: relative;
    border-radius: 12px;
    transform: translate(-50%);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 24px;
    width: 40%;
    text-align: center;
}

.intro {
    left: 50%;                        /* horizontal alignment */
    top: 50%;                         /* vertical alignment */
    transform: translate(60%, -40%);
}

.intro2 {
    left: 50%;                        /* horizontal alignment */
    top: 50%;                         /* vertical alignment */
    transform: translate(-50%, -60%);
}

@media only screen and (max-width: 600px) {

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .intro, .intro2 {
        width: 100%;
        max-width: 300px;
        font-size: 1rem;
        transform: translate(0%);
        left: 100%;
        top: 100%;
    }
    .about {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .cannon {
        max-width: 250px;
        width: 100%;
        transform: translate(0%);
    }

}
