.cannon {
    width:400px;
    position: relative;
    border-radius: 12px;
    transform: translate(-50%);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    font-family: var(--body-font);
    font-weight: 400;
    font-size: 24px;
    width: 40%;
    text-align: center;
}

.intro {
    left: 50%;                        /* horizontal alignment */
    top: 50%;                         /* vertical alignment */
    transform: translate(60%, -40%);
}

.intro2 {
    left: 50%;                        /* horizontal alignment */
    top: 50%;                         /* vertical alignment */
    transform: translate(-50%, -60%);
}