.uzi {
    width: 100%;
    border-radius: 150px;
    position: relative;
    transform: translate(-20%, 0%);
}

img {
    border-radius: 18px;
}

.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 12px;
    align-items: center;
    
}

.intro {
    font-family: var(--body-font);
    font-weight: 400;
    font-style: normal;
    max-width: 500px;
    width: 100%;
    text-align: center;
    font-size: 36px;
    left: 50%;                        /* horizontal alignment */
    top: 50%;                         /* vertical alignment */
    transform: translate(50%, -80%);
    background-color: lightblue;
    padding: 20px;
    border-radius: 16px;
}

.intro2 {
    font-family: var(--body-font);
    font-weight: 400;
    font-style: normal;
    max-width: 500px;
    width: 100%;
    text-align: center;
    font-size: 36px;
    left: 50%;                        /* horizontal alignment */
    top: 50%;                         /* vertical alignment */
    transform: translate(-50%, -80%);
    background-color: lightblue;
    padding: 20px;
    border-radius: 16px;
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-underline-offset: 3px;
    text-decoration-thickness: 5px;
}

@media only screen and (max-width: 600px) {
    .uzi {
        width: 100%;
        max-width: 200px;
        transform: translate(0%);
    }

    .intro, .intro2 {
        width: 100%;
        max-width: 300px;
        font-size: 1rem;
        transform: translate(0%,0%);
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .underline {
        text-decoration-thickness: 2px;
    }
}