.uzi {
    width: 400px;
    border-radius: 12px;
    position: relative;
    transform: translate(-20%, 0%);
}

.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 12px;
    align-items: center;
    
}

.intro {
    font-family: var(--body-font);
    font-weight: 400;
    font-style: normal;
    width: 500px;
    text-align: center;
    font-size: 36px;
    left: 50%;                        /* horizontal alignment */
    top: 50%;                         /* vertical alignment */
    transform: translate(50%, -60%);
}

.intro2 {
    font-family: var(--body-font);
    font-weight: 400;
    font-style: normal;
    width: 500px;
    text-align: center;
    font-size: 36px;
    left: 50%;                        /* horizontal alignment */
    top: 50%;                         /* vertical alignment */
    transform: translate(-50%, -80%);
    
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-underline-offset: 3px;
    text-decoration-thickness: 5px;
}