ul li::marker {
    color: var(--primary-color)
}

h2 {
    font-family: var(--heading-font);
}

li {
    font-family: var(--body-font);
    max-width: 700px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content > * {
    width: 300px;
    margin: 16px;
}

img {
    width: auto;
    max-width: 700px;
    padding: 16px;
    margin: 12px;
    border-radius: 16px;
}

.images {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}
.video {
    max-width: 700px;
    width: auto;
    padding: 16px;
    margin: 0 auto;
}
video {
    border-radius: 16px;
}

@media only screen and (max-width: 600px) {
    .video, .images {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        padding: 16px;
        align-items: center;
    }
    .video {
        padding-left: 12px;
        margin: 0 auto;
    }

    img {
        max-width: 400px;
        margin: 0 auto;
    }
    
}